
.snippet-editor {
	position: relative;
}

.CodeMirror,
.snippet-form textarea {
	width: 100%;
	font-family: monospace;
}

.CodeMirror-sizer {
	min-height: 300px !important;
	box-sizing: border-box;
	padding-bottom: 1.5em !important;

	&::after {
		position: absolute;
		bottom: 0;
	}

	.snippet-form.php-snippet & {
		padding-bottom: 0 !important;

		&::before {
			content: '<?php';
		}
	}

	.snippet-form.css-snippet & {
		&::before {
			content: '<style>';
		}

		&::after {
			content: '</style>';
		}
	}

	.snippet-form.js-snippet & {
		&::before {
			content: '<script>';
		}

		&::after {
			content: '</script>';
		}
	}

	.snippet-form.html-snippet & {
		&::before {
			content: '<!-- begin content -->';
		}

		&::after {
			content: '<!-- end content -->';
		}
	}
}

.snippet-description-container {
	margin-top: 25px;

	.wp-editor-tools {
		padding-top: 5px;
	}

	.wp-editor-tabs {
		float: left;
	}
}

/* Position the description heading on the same level as the editor buttons */
label[for='snippet_description'] h3 div {
	position: absolute;
}
