/**
 * Styles for the edit snippet admin page.
 */

@use 'common/editor';
@use 'common/type-badges';
@use 'common/switch';

@use 'edit/form';
@use 'edit/sidebar';
@use 'edit/editors';

@use 'edit/tooltips';
@use 'edit/upgrade-dialog';
@use 'edit/gpt';

.notice.error blockquote {
	margin-bottom: 0;
}

.code-snippets-copy-text {
	color: inherit;
}

.button svg {
	height: 1rem;
	vertical-align: middle;
	line-height: 1;
	margin: -2px 3px 0 0;
}
